* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #F3EAE3;
    font-size: 1.4rem;
    color: #939499;
}

h1 {
    font-size: 3rem;
    color: #202529;
    font-weight: 700;
    font-family: "Fraunces";
}

.card {
    width: 335px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 3rem 2rem;
    background-color: #fff;
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    margin: 2.5rem;
}

.card__picture {
    height: 40%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.product__type {
    font-family: "Montserrat";
    font-weight: 500;
    letter-spacing: 5px;
    line-height: 1;
    margin-bottom: 15px;
}

.card__title {
    margin-right: 30px;
    width: 100%;
    font-size: 3rem;
    margin-bottom: 10px;
}

.card__text {
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 20px;
}

.price__block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.card__price {
    color: #418169;
    margin-right: 20px;
}

.card__previouse-price {
    font-family: "Montserrat";
    font-weight: 500;
    letter-spacing: 0.2px;
    text-decoration: line-through;
}

.btn {
    border: none;
    background-color: #418169;
    color: #fff;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1.6rem;
    height: 50px;
    width: 300px;
    border-radius: 10px;
}

.btn::before {
    content: "\f07a";
    font-family: "FontAwesome";
    padding-right: 1rem;
}

.btn:hover {
    cursor: pointer;
    background-color: #1A4031;
}